In [ ]:
import pandas as pd

# 엑셀 파일 경로
file_path = "/content/남원설문결과_최종_0109.xlsx"

# 엑셀 파일 불러오기
df = pd.read_excel(file_path)

# 데이터 확인
print(df)

      연번  성별   연령  거주지 거주기간  Q1  Q2 Q3  Q4  Q5  Q5-1  Q5-2 Q6 Q7   Q8  \
0      1   2  3.0  이백면    2   2   1  2 NaN   1   5.0   NaN  1  3  2.0
1      2   2  6.0  이백면    6   1   1  3 NaN   1   1.0   NaN  1  1  1.0
2      3   2  6.0  이백면    6   1   1  3 NaN   1   1.0   NaN  1  1  1.0
3      4   2  6.0  이백면    6   1   1  3 NaN   1   1.0   NaN  1  1  3.0
4      5   2  6.0  이백면    6   1   1  3 NaN   1   1.0   NaN  1  1  1.0
..   ...  ..  ...  ...  ...  ..  .. ..  ..  ..   ...   ... .. ..  ...
507  508   1  3.0  도통동    2   2   2  3 NaN   1   1.0   NaN  2  1  2.0
508  509   2  3.0   금동    6   2   1  3 NaN   1   1.0   NaN  1  1  3.0
509  510   1  3.0  도통동    4   1   1  3 NaN   1   1.0   NaN  1  1  3.0
510  511   2  2.0   금동    6   2   3  3 NaN   1   5.0   NaN  3  3  1.0
511  512   2  2.0  도통동    6   1   1  1 NaN   1   2.0   NaN  1  3  2.0

                                        Q9
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
..                                     ...
507                                    NaN
508                                    NaN
509  젊은 감각으로 1관보다 보다 나은 멋진 건물을 지어주시기 바랍니다.
510                                    NaN
511                                    NaN

[512 rows x 16 columns]

In [ ]:
# 엑셀 파일 경로
file_path = "/content/남원설문결과_최종_0109.xlsx"

# 엑셀 파일 불러오기
df = pd.read_excel(file_path)

# '성별' 컬럼의 값들의 빈도수 확인
gender_counts = df['성별'].value_counts()

# 결과 출력
print(gender_counts)

# 비율 계산
gender_percentage = gender_counts / len(df) * 100

# 결과 출력
print("빈도수:")
print(gender_counts)
print("\n비율:")
print(gender_percentage)

2    306
1    206
Name: 성별, dtype: int64
빈도수:
2    306
1    206
Name: 성별, dtype: int64

비율:
2    59.765625
1    40.234375
Name: 성별, dtype: float64

In [ ]:
# 엑셀 파일 경로
file_path = "/content/남원설문결과_최종_0109.xlsx"

# 엑셀 파일 불러오기
df = pd.read_excel(file_path)

# '나이' 컬럼의 값들의 빈도수 확인
age_counts = df['연령'].value_counts()

# 비율 계산
age_percentage = age_counts / len(df) * 100

# 결과 출력
print("연령 빈도수:")
print(age_counts)
print("\n연령 비율:")
print(age_percentage)

연령 빈도수:
3.0    142
6.0    124
4.0     95
5.0     76
2.0     70
1.0      4
Name: 연령, dtype: int64

연령 비율:
3.0    27.734375
6.0    24.218750
4.0    18.554688
5.0    14.843750
2.0    13.671875
1.0     0.781250
Name: 연령, dtype: float64

In [ ]:
0.8+13.7+27.7+18.6+14.9+24.2

99.9

In [ ]:

# '거주지' 컬럼의 값들의 빈도수 확인
age_counts = df['거주지'].value_counts()


# '거주지' 컬럼의 값들의 빈도수 확인 (내림차순 정렬)
residence_counts = df['거주지'].value_counts(sort=True, ascending=False)

# 비율 계산
residence_percentage = residence_counts / 512


# 결과 출력
print("거주지 빈도수:")
print(age_counts)
print("\n거주지 비율:")
print(age_percentage)

거주지 빈도수:
도통동    111
향교동     45
금동      41
노암동     39
왕정동     33
운봉읍     24
동충동     21
죽항동     20
인월면     18
주천면     17
이백면     14
산내면     14
금지면     14
송동면     13
주생면     12
아영면     12
산동면     11
대산면     11
대강면     10
사매면     10
보절면      9
수지면      7
덕과면      6
Name: 거주지, dtype: int64

거주지 비율:
1.0    0.394531
3.0    0.271484
2.0    0.222656
4.0    0.041016
5.0    0.029297
6.0    0.021484
Name: Q8, dtype: float64

In [ ]:
# 'Q1' 컬럼의 값들의 빈도수 확인
age_counts = df['Q1'].value_counts()

# 비율 계산
age_percentage = age_counts / 512

# 결과 출력
print("Q1 빈도수:")
print(age_counts)
print("\nQ1 비율:")
print(age_percentage)

Q1 빈도수:
2    186
1    149
3    130
4     36
5     11
Name: Q1, dtype: int64

Q1 비율:
2    0.363281
1    0.291016
3    0.253906
4    0.070312
5    0.021484
Name: Q1, dtype: float64

In [ ]:
# 'Q2' 컬럼의 값들의 빈도수 확인
age_counts = df['Q2'].value_counts()

# 비율 계산
age_percentage = age_counts / 512

# 결과 출력
print("Q2 빈도수:")
print(age_counts)
print("\nQ2 비율:")
print(age_percentage)

Q2 빈도수:
2    229
1    199
4     37
3     33
5     14
Name: Q2, dtype: int64

Q2 비율:
2    0.447266
1    0.388672
4    0.072266
3    0.064453
5    0.027344
Name: Q2, dtype: float64

In [ ]:
2.7+7.2+6.4+44.7+38.8

99.8

In [ ]:
# 엑셀 파일 불러오기
df = pd.read_excel(file_path)

# 'Q3' 컬럼이 비어있지 않은 행만 선택
filtered_df = df[df['Q3'].notna()]

# 'Q3' 컬럼의 값들의 빈도수 확인
q3_counts = filtered_df['Q3'].value_counts()

# 비율 계산
q3_percentage = q3_counts / 455

# 결과 출력
print("Q3 빈도수:")
print(q3_counts)
print("\nQ3 비율:")
print(q3_percentage)

Q3 빈도수:
3    192
2    178
1     44
4     39
5      2
       2
Name: Q3, dtype: int64

Q3 비율:
3    0.421978
2    0.391209
1    0.096703
4    0.085714
5    0.004396
     0.004396
Name: Q3, dtype: float64

In [ ]:
192+178+44+39+2

455

In [ ]:
25+19+8+3+2

57

In [ ]:

# 'Q3' 컬럼이 비어있지 않은 행만 선택
filtered_df = df[df['Q4'].notna()]

# 'Q3' 컬럼의 값들의 빈도수 확인
q4_counts = filtered_df['Q4'].value_counts()

# 비율 계산
q4_percentage = q4_counts / 57

# 결과 출력
print("Q4 빈도수:")
print(q4_counts)
print("\nQ4 비율:")
print(q4_percentage)

Q4 빈도수:
2.0    25
1.0    19
4.0     8
3.0     3
5.0     2
Name: Q4, dtype: int64

Q4 비율:
2.0    0.438596
1.0    0.333333
4.0    0.140351
3.0    0.052632
5.0    0.035088
Name: Q4, dtype: float64

In [ ]:
# 'Q2' 컬럼의 값들의 빈도수 확인
age_counts = df['Q5'].value_counts()

# 비율 계산
age_percentage = age_counts / 512

# 결과 출력
print("Q5 빈도수:")
print(age_counts)
print("\nQ5 비율:")
print(age_percentage)

Q5 빈도수:
1    466
2     46
Name: Q5, dtype: int64

Q5 비율:
1    0.910156
2    0.089844
Name: Q5, dtype: float64

In [ ]:
466/512

0.91015625

In [ ]:
47/512

0.091796875

In [ ]:
# 'Q2' 컬럼의 값들의 빈도수 확인
age_counts = df['Q5-1'].value_counts()

# 비율 계산
age_percentage = age_counts / 466

# 결과 출력
print("Q5-1 빈도수:")
print(age_counts)
print("\nQ5-1 비율:")
print(age_percentage)

Q5-1 빈도수:
1.0    236
5.0     98
2.0     66
3.0     62
4.0      3
Name: Q5-1, dtype: int64

Q5-1 비율:
1.0    0.506438
5.0    0.210300
2.0    0.141631
3.0    0.133047
4.0    0.006438
Name: Q5-1, dtype: float64

In [ ]:
# 'Q5-2' 컬럼의 값들의 빈도수 확인
age_counts = df['Q5-2'].value_counts()

# 비율 계산
age_percentage = age_counts / 46

# 결과 출력
print("Q5-2 빈도수:")
print(age_counts)
print("\nQ5-2 비율:")
print(age_percentage)

Q5-2 빈도수:
2.0    30
4.0     5
5.0     4
3.0     1
Name: Q5-2, dtype: int64

Q5-2 비율:
2.0    0.652174
4.0    0.108696
5.0    0.086957
3.0    0.021739
Name: Q5-2, dtype: float64

In [ ]:
# 'Q6' 컬럼의 값들의 빈도수 확인
age_counts = df['Q6'].value_counts()

# 비율 계산
age_percentage = age_counts / 512

# 결과 출력
print("Q6 빈도수:")
print(age_counts)
print("\nQ6 비율:")
print(age_percentage)

Q6 빈도수:
1                   239
4                    64
3                    63
2                    57
5                    46
6                    24
7                     2
7 (다양한 미술 작품 전시)      1
7(다른 작가 작품도 전시)       1
7(여가 및 체험)            1
7 (필요 없음)             1
Name: Q6, dtype: int64

Q6 비율:
1                   0.466797
4                   0.125000
3                   0.123047
2                   0.111328
5                   0.089844
6                   0.046875
7                   0.003906
7 (다양한 미술 작품 전시)    0.001953
7(다른 작가 작품도 전시)     0.001953
7(여가 및 체험)          0.001953
7 (필요 없음)           0.001953
Name: Q6, dtype: float64

In [ ]:
239+64+63+57+46+24+7+13

513

In [ ]:
# 'Q7' 컬럼의 값들의 빈도수 확인
age_counts = df['Q7'].value_counts()

# 비율 계산
age_percentage = age_counts / 512

# 결과 출력
print("Q7 빈도수:")
print(age_counts)
print("\nQ7 비율:")
print(age_percentage)

Q7 빈도수:
1                  213
3                  150
4                   48
6                   41
2                   33
5                   15
6(장애인/노인 편의 고려)      1
Name: Q7, dtype: int64

Q7 비율:
1                  0.416016
3                  0.292969
4                  0.093750
6                  0.080078
2                  0.064453
5                  0.029297
6(장애인/노인 편의 고려)    0.001953
Name: Q7, dtype: float64

In [ ]:
# 'Q8' 컬럼의 값들의 빈도수 확인
age_counts = df['Q8'].value_counts()

# 비율 계산
age_percentage = age_counts / 512

# 결과 출력
print("Q8 빈도수:")
print(age_counts)
print("\nQ8 비율:")
print(age_percentage)

Q8 빈도수:
1.0    202
3.0    139
2.0    114
4.0     21
5.0     15
6.0     11
Name: Q8, dtype: int64

Q8 비율:
1.0    0.394531
3.0    0.271484
2.0    0.222656
4.0    0.041016
5.0    0.029297
6.0    0.021484
Name: Q8, dtype: float64

In [ ]:

# 'Q9' 열의 모든 값 출력
q9_values = df['Q9'].unique()

# 결과 출력
print("Q9 열의 모든 값:")
print(q9_values)

Q9 열의 모든 값:
[nan '지금 규모가 적당, 더 커지면 이용객 감소 우려' '수고 많으십니다. 지원해주세요.'
 '연령에 상관없이 이용할 수 있으면 좋겠습니다.' '이용료 관련, 남원시민 무료 타지역은 4번' '작가에 대한 관심이 없습니다'
 '환경파괴 우려' '젊은 세대분들 위한 시설 마련'
 '앞으로도 남원시 지역경제활성화와 남원 지역 알림에 큰 역할이 되었으면 합니다.'
 '작품소장보다는 전시활성화를 통해 다양한 작품이순환 전시되어 방문객이 자주 방문하면 좋겠습니다.'
 '주차공간 및 휴게시설 확보에 신경써주셨으면 좋겠습니다.' '청소년 유익 시설'
 '기본 도시 컨셒 : 준스포츠도시(4계절용) 및 예술 도시, 글램핑장( 요천 모래밭),가족용래프팅시설(요천이용), 김병종건물증축시 최고의 건축가 작품건물설치, 승사교 아랫부분에 잠수교 설치(서울 반포대교 참고), 이동식 카페, 제과점 입주가능'
 '김병용 화백에 대한 홍보가 좀 더 이루어져야 할 것 같습니다. 김병종 화백 자체에 대한 정보가 부족합니다.'
 '(미술관을 활용한 공연예술 (예: 팔복예술공장, 청춘마이크 같은 프로그램))' '홍보, 프로그램 활성화'
 '체험공간, 쉬는공간, 아이들 데리고 가서 돗자리 들고 가서 앉아서 먹고 쉬고 관광할 수 있는 쉼터 공간 조성 필요!'
 '꼭 건립되어서 주민과 공유하면 좋을 것 같아요.' '굳이 필요x'
 '증축 후 다양한 전시 및 프로그램 운영 후 이용금 부담이 이뤄져야 할듯. 현재로는 이용료 부담스러움, 단조로움'
 '다양한 연령 이용 가능한 전시 필요' '남원이 문화 예술의 도시로 성장하기 위한 발판으로 반드시 필요하다고 생각합니다'
 '다양한 전시 작품이 있었으면 좋겠다 (지역 작가 외 타지 작가 전시회 등)'
 '증축보다는 현재 미술관을 잘 활용하면 좋을 것 같습니다. 필요하다면 시민의 의견을 잘 수렴하였으면 좋겠고 자연과의 조화를 생각해서 진행하면 합니다.'
 '지역예술인들 전시 및 작품활동 공간 제공' ' ' '남원시민은 무료' '김병종 그림밖에 없는게 단점이다'
 '교육, 체험 프로그램이 많아졌으면 좋겠습니다~!' '참여기회가 조금 더 많았으면 좋겠습니다.'
 '전시공간과 교육·참여 프로그램이 조화롭게 잘 진행되었으면 함.'
 '남원시에 위치함에 있어 남원시민들이 자주 이용하게 된다면, 이용료에 부담이 가지 않게끔 책정되면 좋겠습니다. 남원시민이라면 타지역 시민보다 더 자주갈텐데 할인이 있어야 되겠습니다.'
 '항상 남원시는 토지나 예산 때문에 소규모로 건설·건축하는 경우가 多. 미술관은 남원시에 하나밖에 없는 시설로 시간이 조금 소요되더라도 규모가 大시설로 조성되어 큰 자원이 되길 바람.'
 '남원 시민 및 관광객 누구나 찾을 수 있는 미술관이 되었으면 좋겠습니다.'
 '기존 미술관도 휴게 편의시설이 충분하지만 머물다 갈 공간으로는 인식되지 않음. 2관은 미술작품체험, 전시 등 여러 프로그램 운영하면서 쉴 수 있는 공간도 충분히 구성 필요'
 '전국 최고 시설이 되도록 다양한 의견수렴 및 체험 프로그램 개발'
 "남원시립' 미술관으로 증축한다면 김병종 작가뿐만 아니라 다른 남원 지역작가들의 작품들도 조명하고, 더 나아가 남원시민들이 다양한 시각예술작품을 향유할 수 있도록 전시작가의 스펙트럼을 넓혔으면 좋겠음."
 '다양한 작가들의 전ㄴ시가 이루어졌으면 합니다.'
 '김병종미술관이 단지 전시기관이 아닌 문화체험과 예술체험의 중심시설이 될 수 있도록 조성해 주기 바라며 그러기 위해서 증축도 반드시 필요하다고 생각합니다.'
 '다양한 프로그램 개발로 방문객 관람의 즐거움, 참여 프로그램 개발 필요'
 '특정인이 아닌 일반인(미술을 모르는 대중)도 매우 쉽게 미술품을 이해할 수 있는 프로그램 운영'
 '미술관 주변에 연계한 관광·문화공간 부족. 미술관 자체의 방문목적을 높이기 위한 다양한' '퀄리티가 높았으면 좋겠습니다.'
 '시민참여 프로그램 필요.' '미디어 아트 추가' '남원에서도 여러 전시회가 자주 열렸으면 좋겠습니다.'
 '좋은 작품으로 전시 부탁드립니다.'
 '방문하면 생각보다 볼 것이 없었는데 다양한 전시와 프로그램을 확대해서 더 많은 방문객이 있으면 함.'
 'Title. 김병종 外 다른 네이밍(naming)' '도슨트 프로그램이 더 활성화되어서 관광객 체류시간이 늘어나길 바랍니다'
 '주변 관광 시설 부재' '위치와 1관과의 연계프로그램' '체험할 수 있는 프로그램을 多 만들어주시면 좋겠어요 :)'
 '무료로 해 주세요!' '작품들을 더 많이 보고 싶습니다. 금방 보고 나와버려서 아쉬워요'
 '김병종 미술관은 특히 타지인들이 방문하고 반응이 좋습니다. 전시 작품도 그럭저럭 괜찮지만 건물이 예쁜 것도 큰 이유이네요. 2관도 건물 자체도 멋진 작품으로 지어지길 바랍니다. 1관은 전시실이 조금 좁은 느낌이 있습니다. 관람 동선도 잘 짜주시길 바라고 기념품 판매하는 공간도 넓었으면 합니다.'
 '무료니까 카페도 되고 입장료 받으면 과연 누거올까요?'
 '미술관 직원분들 민원응대와 미술작품이 설명 부족, 아이들과 함께할 수 있는 프로그램, 휴식공간 등이 많이 부족합니다.'
 '미술관 직원분들 민원응대 와 미술작품이 설명 부족, 아이들과 함께할수 있는 프로그램, 휴식공간 등이 많이 부족합니다. 옆 콩이라는 건물을 주말에 방문한 적이 있는데요...공간도 많이 남아있는데 굳이 더 증측을 해야할 이유가 있을까 싶습니다. 콩 건물 또한 주말에 아이들과 많이 찾는공간이 되어야 하는데 프로그램도 없고 설명하는분도 없고., 공식적인 오픈이 맞는걸까요>콩 건물을 활용하시는게 더 나을듯합니다.'
 '증축을 희망합니다' '젊은 감각으로 1관보다 보다 나은 멋진 건물을 지어주시기 바랍니다.']

In [ ]:
len(q9_values)

61

In [ ]:
from collections import Counter

# 'Q9' 열의 모든 값 가져오기
q9_values = df['Q9'].dropna().astype(str)

# 모든 단어를 공백 기준으로 분할하고 빈도수 계산
word_counts = Counter(" ".join(q9_values).split())

# 가장 많이 등장하는 5개의 단어 추출
top_words = word_counts.most_common(5)

# 결과 출력
print("가장 많이 등장하는 5개의 단어:")
for word, count in top_words:
    print(f"{word}: {count}회")

가장 많이 등장하는 5개의 단어:
더: 10회
다양한: 10회
수: 9회
좋겠습니다.: 8회
프로그램: 8회

In [ ]:
# 'Q9' 열에서 '프로그램'이 들어간 행들 선택
q9_program_rows = df[df['Q9'].str.contains('프로그램', na=False)]

# 결과 출력
print("Q9 열에서 '프로그램'이 들어간 경우:")
print(q9_program_rows)

Q9 열에서 '프로그램'이 들어간 경우:
      연번  성별   연령  거주지 거주기간  Q1  Q2   Q3   Q4  Q5  Q5-1  Q5-2 Q6   Q7   Q8  \
132  133   2  2.0  향교동    6   2   2    4  NaN   1   1.0   NaN  6  NaN  2.0
133  134   2  5.0  향교동    6   3   4  NaN  2.0   1   5.0   NaN  5    3  3.0
198  199   2  5.0  주생면    6   3   4  NaN  4.0   1   1.0   NaN  2    3  3.0
302  303   2  3.0  산동면    5   2   2    3  NaN   1   3.0   NaN  5    3  1.0
318  319   2  3.0  도통동    6   3   2    3  NaN   1   5.0   NaN  5    4  5.0
333  334   1  4.0  도통동    4   2   2    3  NaN   1   5.0   NaN  5    6  2.0
343  344   1  5.0  도통동    6   2   1    2  NaN   1   1.0   NaN  4    1  2.0
352  353   1  3.0  도통동    6   2   2    5  NaN   1   5.0   NaN  4    3  2.0
366  367   1  5.0  도통동    6   2   2    2  NaN   1   5.0   NaN  3    4  2.0
386  387   2  3.0  도통동    3   2   2    1  NaN   1   5.0   NaN  2    4  2.0
403  404   1  3.0  도통동    6   3   2    3  NaN   1   1.0   NaN  1    3  3.0
407  408   2  3.0  도통동    2   2   2    3  NaN   1   1.0   NaN  5    1  3.0
411  412   1  3.0  도통동    2   2   4  NaN  1.0   1   2.0   NaN  3    3  1.0
412  413   2  4.0  도통동    6   2   1    3  NaN   1   5.0   NaN  4    3  1.0
495  496   2  3.0  도통동    6   4   5  NaN  4.0   2   NaN   2.0  1    3  3.0
497  498   2  3.0  도통동    6   4   5  NaN  4.0   2   NaN   2.0  1    3  3.0

                                                    Q9
132         (미술관을 활용한 공연예술 (예: 팔복예술공장, 청춘마이크 같은 프로그램))
133                                       홍보, 프로그램 활성화
198  증축 후 다양한 전시 및 프로그램 운영 후 이용금 부담이 이뤄져야 할듯. 현재로는 ...
302                         교육, 체험 프로그램이 많아졌으면 좋겠습니다~!
318                 전시공간과 교육·참여 프로그램이 조화롭게 잘 진행되었으면 함.
333  기존 미술관도 휴게 편의시설이 충분하지만 머물다 갈 공간으로는 인식되지 않음. 2관...
343                전국 최고 시설이 되도록 다양한 의견수렴 및 체험 프로그램 개발
352            다양한 프로그램 개발로 방문객 관람의 즐거움, 참여 프로그램 개발 필요
366  특정인이 아닌 일반인(미술을 모르는 대중)도 매우 쉽게 미술품을 이해할 수 있는 프...
386                                      시민참여 프로그램 필요.
403  방문하면 생각보다 볼 것이 없었는데 다양한 전시와 프로그램을 확대해서 더 많은 방문...
407             도슨트 프로그램이 더 활성화되어서 관광객 체류시간이 늘어나길 바랍니다
411                                    위치와 1관과의 연계프로그램
412                    체험할 수 있는 프로그램을 多 만들어주시면 좋겠어요 :)
495  미술관 직원분들 민원응대와 미술작품이 설명 부족, 아이들과 함께할 수 있는 프로그램...
497  미술관 직원분들 민원응대 와 미술작품이 설명 부족, 아이들과 함께할수 있는 프로그램...